extends layout

mixin listItem(comp)
    a(href=('/item?id=' + comp.id))
        .row
            .col-2.margin-auto= '#' + comp.history[0][name + "Rank"]
            .col-sm-2.margin-auto.d-none.d-sm-block
                img(data-src=comp.preview_url).img-fluid.lazy
            .col-6.margin-auto= comp.title + ' (' + comp.id + ')'
            .col-2.margin-auto= comp.history[0][name] + (title === "Unsubscribes" ? '%' : '')

block content
    .row
        .col.col-md-8.margin-auto(style='margin-top:50px')
            h1= 'Rimworld ' + title
    .row
        .col-sm-12.margin-auto(style='margin-top:20px')
            form(method='GET' action=('/chart?cat=' + name)).margin-auto
                .form-group
                    label Get More Results:
                    input#id.form-control(name='cat' value=name hidden)
                    .row
                        .col-sm-3
                        .col-sm-2
                            input#id.form-control(type='number', name='from' placeholder='From:' min='1' max=chart.length required)
                        .col-sm-2
                            input#id.form-control(type='number', name='to' placeholder='To:' min='0' max=chart.length required)
                        .col-sm-2
                            button.btn.btn-primary.rounded(type='submit', style='width:100%') Search
                    label (type 0 in the To box to get all results after From)
            hr.bg-white
        .clearfix
        .col-lg-8.margin-auto
            ul.list-group
                each comp, index in chart
                    if(index >= from - 1 && index < to)
                        if(index % 2 === 0)
                            li.list-group-item.bg-info
                                +listItem(comp)
                        else
                            li.list-group-item.bg-success
                                +listItem(comp)