extends layout

mixin listItem(comp)
    .row
        .col-sm-4.col-lg-2.margin-auto
            a(href=("https://steamcommunity.com/sharedfiles/filedetails/?id=" + comp.id))
                h4.text-black= comp.title
        .col-4.d-sm-none
                h1
                    i.fa.fa-download.fa-2(aria-hidden="true")
        .col-8.col-sm-2.margin-auto
            p.margin-no-bottom= comp.history[0].subscriptions
            p.margin-no-top= "#" + comp.history[0].subscriptionsRank + " | " + comp.history[0].subscriptionsPercent + "%"
        .col-4.d-sm-none
                h1
                    i.fa.fa-star.fa-2(aria-hidden="true")
        .col-8.col-sm-2.margin-auto
            p.margin-no-bottom= comp.history[0].favorites
            p.margin-no-top= "#" + comp.history[0].favoritesRank + " | " + comp.history[0].favoritesPercent + "%"
        .col-4.d-sm-none
                h1
                    i.fa.fa-comment.fa-2(aria-hidden="true")
        .col-8.col-sm-2.margin-auto
            p.margin-no-bottom= comp.history[0].comments
            p.margin-no-top= "#" + comp.history[0].commentsRank + " | " + comp.history[0].commentsPercent + "%"
        .col-4.d-sm-none
                h1
                    i.fa.fa-eye.fa-2(aria-hidden="true")
        .col-8.col-sm-2.margin-auto
            p.margin-no-bottom= comp.history[0].views
            p.margin-no-top= "#" + comp.history[0].viewsRank + " | " + comp.history[0].viewsPercent + "%"
        .col-lg-2.d-none.d-lg-block.margin-auto
            p.margin-no-bottom= comp.history[0].unsubscribes + '%'
            p.margin-no-top= "#" + comp.history[0].unsubscribesRank + " | " + comp.history[0].unsubscribesPercent + "%"

block content
  h1 ModRank Comparison
  hr.bg-white
  ul.list-group
    li.list-group-item.bg-warning.d-none.d-sm-block
        .row
            .col-sm-4.col-lg-2
                h1 Item
            .col-sm-2
                h1
                    i.fa.fa-times.fa-download.fa-2(aria-hidden="true")
            .col-sm-2
                h1
                    i.fa.fa-star.fa-2(aria-hidden="true")
            .col-sm-2
                h1
                    i.fa.fa-comment.fa-2(aria-hidden="true")
            .col-sm-2
                h1
                    i.fa.fa-eye.fa-2(aria-hidden="true")
            .col-lg-2.d-none.d-lg-block
                h1
                    i.fa.fa-times.fa-2(aria-hidden="true")
    if (items.length > 0)
        each comp, index in items
            if (index % 2 == 0) 
                li.list-group-item.bg-info.text-black
                    +listItem(comp)
            else
                li.list-group-item.bg-success.text-black
                    +listItem(comp)
            if (index == items.length - 1)
                li.list-group-item.text-black.bg-warning
                    .row
                        .col-md-6(style="margin:auto")
                            form(method='GET' action='/compare')
                                div.form-group
                                    label(for='id') Add a Mod ID: 
                                    each comp, idx in items
                                        - var currID = "id" + (idx + 1)
                                            input.form-control(name=currID type='text' value=comp.id hidden).text-center
                                    - var newID = "id" + (index + 2);
                                        input#id.form-control(type='text' name=newID placeholder="Add an ID" required).text-center
                                button.btn.btn-primary(type='submit') Search
    else
        li.list-group-item.text-black
            .row
                .col-md-6(style="margin:auto")
                    form(method='GET' action='/compare')
                        div.form-group
                            label(for='id') Add Mod IDs:                               
                            input#id.form-control(type='text' name='id1' placeholder="Mod ID 1" required).text-center
                            input#id.form-control(type='text' name='id2' placeholder="Mod ID 2" required).text-center
                        button.btn.btn-primary(type='submit') Search