extends layout

block content
    a(href=("https://steamcommunity.com/sharedfiles/filedetails/?id=" + id))
        h1.text-black= title + " (" + id + ")"
    a(href=("https://steamcommunity.com/sharedfiles/filedetails/?id=" + id))
        img(src=preview_url, alt=title, style='max-height:150px').img-fluid
    hr.bg-white
    ul.list-group.text-white
        li.list-group-locals.bg-dark.d-none.d-sm-block
            .row
                .col-md-5.col-8
                    h2 Category
                .col-md-2.col-4
                    h2
                        i.fa.fa-hashtag
                .col-md-2
                    h2
                        i.fa.fa-trophy
                .col-md-3
                    h2
                        i.fa.fa-percent
        li.list-group-locals.bg-secondary
            .row
                .col-md-5.col-12
                    h2= "Subscriptions: "
                .col-md-2.col
                    h2= locals.history[0].subscribes
                .col-md-2.col
                    h2= "#" + locals.history[0].subscriptionsRank + ""
                .col-md-3.col
                    h2= "Top " + locals.history[0].subscriptionsPercent + "%"
        li.list-group-locals.bg-primary
            .row
                .col-md-5.col-12
                    h2= "Favorites: "
                .col-md-2.col
                    h2= locals.history[0].favorites
                .col-md-2.col
                    h2= "#" + locals.history[0].favoritesRank + ""
                .col-md-3.col
                    h2= "Top " + locals.history[0].favoritesPercent + "%"
        li.list-group-locals.bg-success
            .row
                .col-md-5.col-12
                    h2= "Comments: "
                .col-md-2.col
                    h2= locals.history[0].comments
                .col-md-2.col
                    h2= "#" + locals.history[0].commentsRank + ""
                .col-md-3.col
                    h2= "Top " + locals.history[0].commentsPercent + "%"
        li.list-group-locals.bg-danger
            .row
                .col-md-5.col-12
                    h2= "Views: "
                .col-md-2.col
                    h2= locals.history[0].views
                .col-md-2.col
                    h2= "#" + locals.history[0].viewsRank + ""
                .col-md-3.col
                    h2= "Top " + locals.history[0].viewsPercent + "%"
        li.list-group-locals.bg-warning
            .row
                .col-md-5.col-12
                    h2= "Unsubscriptions: "
                .col-md-2.col
                    h2= locals.history[0].unsubscribes + "%"
                .col-md-2.col
                    h2= "#" + locals.history[0].unsubscribesRank
                .col-md-3.col
                    h2= "Top " + locals.history[0].unsubscribesPercent + "%"

    .row
        .col-md-6(style="margin:auto")
            form(method='GET' action='/compare')
                div.form-group
                    label(for='id') Compare to another mod or scenario: 
                    input.form-control(name='id1' type='text' value=id hidden).text-center
                    input#id.form-control(type='text' name='id2' placeholder="Add an ID, or type RAND for a random matchup!" required).text-center
                .row
                    .col-1
                    .col-8.nopadding
                        button.btn.btn-primary.rounded-0.rounded-left(type='submit', style='width:100%') Go head to head!
                    .col-2.nopadding
                        a(href='/compare?id1=' + id + '&id2=random', style="width:100%").btn.btn-danger.rounded-0.rounded-right Random