extends layout

block content
  h1= itemTitle + " - " + id
  img(src=img, alt=itemTitle, style='max-width:400px').img-fluid
  hr.bg-white
  ul.list-group
    li.list-group-item.bg-secondary
        .row
            .col-md-8
                h3= "Current Subscriptions: " + subs
            .col-md-2.text-align-right.border-left
                h3= "#" + subsRank + ""
            .col-md-2.border-left
                h1= "Top " + subsPercent + "%"
    li.list-group-item.bg-primary
        .row
            .col-md-8
                h3= "Current Favorites: " + favs
            .col-md-2.text-align-right.border-left
                h3= "#" + favsRank + ""
            .col-md-2.border-left
                h1= "Top " + favsPercent + "%"
    li.list-group-item.bg-success
        .row
            .col-md-8
                h3= "Current Comments: " + comments
            .col-md-2.text-align-right.border-left
                h3= "#" + commentsRank + ""
            .col-md-2.border-left
                h1= "Top " + commentsPercent + "%"
    li.list-group-item.bg-danger
        .row
            .col-md-8
                h3= "Current Views: " + views
            .col-md-2.text-align-right
                h3= "#" + viewsRank + ""
            .col-md-2.border-left
                h1= "Top " + viewsPercent + "%"
    li.list-group-item.bg-warning
        .row
            .col-md-8
                h3= "Current Unsubscriptions: " + unsubscribes
            .col-md-2.text-align-right
                h3= "#" + unsubscribesRank + ""
            .col-md-2.border-left
                h1= "Top " + unsubscribesPercent + "%"
